/*
    reset
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
    custom properties
*/

:root {
  --page-margin: 15px;
  --func-button-bg-color: #fcd34d;
  --equal-bg-color: #34d399;
  --decimal-bg-color: #77b6ac;
  --slate-900: #0f172a;
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-300: #cbd5e1;
  --slate-200: #e2e8f0;
  --slate-100: #f1f5f9;
  --slate-50: #f8fafc;
}

/*
    global styles
*/

html {
  font-size: 25px;
  color: var(--font-color);
  font-family: "Inconsolata", monospace;
}

/*
    grid
*/

.page {
  margin: var(--page-margin);
  display: flex;
  min-height: calc(100vh - var(--page-margin) * 2);
  justify-content: center;
  align-items: center;
  position: relative;
}

#calculator {
  background-color: var(--slate-600);
  width: min(350px, 100%);
  height: min(500px, 100vh - var(--page-margin) * 2);
  border: 2px solid #475569;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(5, 1fr);
  padding: 15px;
  gap: 15px;
  box-shadow: 0 0 5px #475569;
}

.display {
  background-color: var(--slate-300);
  color: var(--slate-900);
  border-radius: 10px;
  border: 1px solid rgb(194, 207, 206);
  grid-column: 1 / 5;
  grid-row: 1/2;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-shadow: inset 2px 2px 10px rgb(97, 142, 194);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--slate-500);
  border-radius: 5px;
  cursor: pointer;
}

.button-clear {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.button-delete {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.button-clear {
  font-style: italic;
}

.clear-delete {
  background-color: #f87171;
  font-weight: 400;
  border: none;
  color: #0f172a;
  transition: transform 150ms ease-in-out;
}

.clear-delete:hover {
  background-color: #d31818;
  transform: scale(1.02);
}

.clear-delete:active,
.clear-delete.active {
  background-color: #771313;
}

.button-number {
  background-color: var(--slate-800);
  color: var(--slate-300);
}

.button-number:active,
.button-number.active {
  background-color: var(--slate-900);
}

.button-function {
  background-color: #fde68a;
  color: var(--slate-900);
}

.button-function:active,
.button-function.active {
  background-color: #fbbf24;
}

.button-equal {
  background-color: #10b981;
}

.button-equal:active,
.button-equal.active {
  background-color: #047857;
}

.button-decimal {
  background-color: var(--slate-800);
  color: var(--slate-300);
}

.button-decimal:active,
.button-decimal.active {
  background-color: var(--slate-900);
}

/*
    footer
*/
/* 
footer {
  display: none;
}

@media (min-height: 900px) {
  footer {
    display: flex;
    position: absolute;
    bottom: 5px;
    width: 100%;
    justify-content: center;
  }

  footer a {
    font-size: 1rem;
    color: var(--font-color);
    text-decoration: none;
  }

  .github-logo {
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }

  .github-username {
    line-height: 50px;
  }
} */
